* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: cursive;
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #e77676;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 25px;
  width: 25px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius: 50%;
  position: absolute;
  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6) 0ms;
}

h1 {
  font-size: 9vw;
  font-weight: 900;
}
